# Node.js
node-server/node_modules/
node_modules/

# Python
python-risk/__pycache__/
ml-service/__pycache__/
api-server/__pycache__/
**/__pycache__/
*.pyc

# 환경변수
.env.prod


# 로그
*.log

# OS
.DS_Store
Thumbs.db